@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap");

body {
	height: 100vh;
	margin: 1;
	padding: 0;
	background-color: rgb(32, 32, 32);
	color: rgb(241, 241, 241);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	font-family: "Work-Sans", sans-serif;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

input {
	border: 1px white solid;
	border-radius: 20px;
	padding: 4px 10px 4px 10px;
}

a {
	text-decoration: none;
	color: rgb(239, 208, 234);
}

p,
label {
	font-size: 1.5rem;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

i {
	color: rgba(241, 241, 241, 0.625);
}
