@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&display=swap");

.lateral {
	max-height: 100vh;
	width: 15vw;
	margin: 1vw;
	background-color: #8c3efa7a;
	display: grid;
	grid-template-rows: 0.2fr 1fr 0.3fr;
	grid-template-columns: 100%;
	align-items: center;
	justify-items: center;
	overflow: hidden;

	.tabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 15vw;

		.tab {
			display: flex;
			align-items: center;
			// justify-content: center;
			font-size: 2rem;
			margin: 1.5rem 0;
			padding: 1rem 0;
			text-align: left;
			min-width: 15vw;

			.icon {
				min-width: 4vw;
			}

			&:hover {
				color: white;

				svg {
					fill: white;
				}
				// transform: translateX(1rem);
			}

			&.active {
				background-color: #0d0d0dc3;
				font-weight: 500;
			}

			a {
				min-width: 15vw;
			}
		}
	}

	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 13vw;

		.card {
			display: flex;
			align-items: center;
			margin-bottom: 2vh;
			font-size: 2rem;
			width: 13vw;

			.icon {
				width: 4rem;
				height: 4rem;
				background-color: white;
				border-radius: 4rem;
			}

			.name {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				margin-left: auto;
				margin-right: auto;
			}

			button {
				position: absolute;
				top: 100%;
				justify-self: center;
			}
		}
	}
}
